// font famelies
$helvatica: 'Helvetica Neue', Helvetica, sans-serif;
$tisa: 'ff-tisa-sans-web-pro', sans-serif;

:root {
  --body: #ffffff;


  --black: #000000;
  --white: #ffffff;

  //text
  --font: #454545;
  --reverse-font: #ececec;

  --primary: #00ff00;
}