// font famelies
$helvatica: 'Helvetica Neue', Helvetica, sans-serif;
$tisa: 'ff-tisa-sans-web-pro', sans-serif;

:root {
  --body: #ffffff;


  --black: #000000;
  --white: #ffffff;

  //text
  --font: var(--black);
  --reverse-font: var(--white);

  --primary: #00ff00;
}