.landing {
  padding: 60px 30px 20px 30px;

  .landing-title {
    font-size: 3rem; 
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 20px;
  }

  .cta-button {
    z-index: 2;
    display: block;
    height: 150px;
    width: 150px;
    padding: 20px;
    margin: 70px auto;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0px 0px 7px 7px var(--white);
    border: none;
    scale: 1;
    transition: all 0.2s ease;

    .btn-text {
      font-size: 1.6rem;
      font-weight: 700;
      opacity: 1;
      transition: all 0.4s ease;
    }

    // &:hover {
    //   cursor: pointer;
    //   box-shadow: 0px 0px 15px 15px var(--white);
    //   transition: all 0.2s ease;
    // }
  }

  .button-transform {
    scale: 7;
    @include respond-to("phablet") {
      scale: 20;
    }
    transition: all 0.8s ease;

    .btn-text {
      opacity: 0;
      transition: all 0.4s ease;
    }

    &:hover {
      cursor: unset;
    }
  }
}