.bottom-counters {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-family: $helvatica;
  font-weight: 500;
  text-transform: lowercase;
  padding: 0 5px;
  background-color: var(--white);

  .counter {
    font-size: 1rem;
    .num {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.dark {
  .bottom-counters {
    background-color: black;
  }
}

.about-page {
  .bottom-counters {
    position: fixed;
  }
}